body {
    /* make the font on the website sans serif */
    font-family: sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: white;
    padding-left: 1vw;
    padding-right: 1vw;
}

#navbar a {
    text-decoration: none;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
}

#blogcontainer h1 {
    text-align: center;
}

#blogcontainer hr {
    width: 10%;
}

#blogcontainer .date {
    text-align: center;
}

#blogcontainer img {
    width: 100%;
}

#tagtitle {
    text-align: center;
    font-size: 60pt;
}